.ComplaintDetails{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    /* background-color: aqua; */
    border: 0.5px solid lightgray;
    border-radius: 4px;
    padding: 10px 60px 10px 60px;
    
}

.ComplaintInfoPart1{
    border: 0.5px solid lightgray;
    border-radius: 4px;
    padding: 10px 60px 10px 60px;
}