.Status {
    display: flex;
    align-items: center;
    justify-content: center;
}

#EditComplaint {
    border: 0.5px solid lightgray;
    border-radius: 4px;
    padding: 10px 60px 10px 60px;
    margin-top: 200px;
    margin-bottom: 200px;

}

.ComplaintStatus {
    /* border: 0.5px solid lightgray; */
    border-radius: 4px;
    padding: 10px 60px 10px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ChangeStatus{
    padding-right: 5px;
}
a{
    
    color: red;
}
